@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap');

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/background.png);  
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -10;
}

.chamada{
    color: #DF5C1A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 20px;
    font-size: 72px;
    margin-left: 5%;
}

.legenda{
    color: #E2E2E2;
    font-size: 27px;
    font-family: 'Parisienne', sans-serif;
    margin-left: 5%;
    margin-top: -60px;
}

nav .menu{
    left: 0;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(217, 217, 217, 0.5);
    width: 100%;
    height: 5%;
    display: inline-block;
}

.menu ul {
    list-style: none;
    background: #333333;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.menu ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu li a {
    color: #333333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: 1s;
}

.menu li a:hover {
    color: #df5c1a;
    text-shadow: 0px 0px 5px #DF5C1A;
}


header{
    height: 100vh;
}

#sessao-apresentacao{
    display: flex;
    height: 100vh;
    gap: 5rem;
    padding: 2rem;
    align-items: center;
    flex-direction: row;
}

#sessao-apresentacao img{
    border-radius: 50%;
}

#texto-apresentacao{
    color: #1D1D1D;
}

#texto-apresentacao h2{
    font-size: 2.25rem;    
}

#texto-apresentacao p{
    font-size: 1.75rem;    
}

#sessao-projetos{
    height: 100vh;
    background-color: #6b27a3;
}

#sessao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
}


#sessao-projetos li{
    list-style: none;
}

.card{
    position: relative;
    max-height: 420px;
    max-width: 300px;
    cursor: pointer;
}

.card .image{
    height: 100%;
    width: 100%;
}

.image img{
    height: 100%;
    width: 100%;
}

.card .texto{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 5%;
    height: 100%;
    color: #E2E2E2;
}

.card:hover .texto{
    position: absolute;
    top: 0;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.5);
}